/*Estilos generales*/
*{
    box-sizing: border-box;
}
body{
    font-family: 'Lato',sans-serif;
}
footer{
    position: relative;
    bottom: 0;
    width: 100%;
}
header{
    background-color: #551574;
    height: 64px;
    width: 100vw;
    position: fixed;
    top: 0;
    z-index: 100;
    border-bottom:1px solid #2E0B40;
}

/*Estilos barra de navegación*/
.header-nav{
    background-color: #551574;
    height: 64px;
    max-width: 1366px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translate(-50%);
    flex-direction: row;
}
.toggle-btn{
    color: #fff;
    font-size: 2rem;
    margin-left: 10px;
    cursor: pointer;
    display: none;
}
.nav-menu-seccion2-link{
    color: #fff;
    text-decoration: none;
    font-size: 20px;
}
.nav-menu-seccion2{
    display: flex;
    padding:0;
    margin: 0;
    list-style-type: none;
    gap: 15px;
    align-items: center;
}
.nav-menu-seccion2-item-supp{
    display:flex;
    gap: 5px;
    align-items: center;
}
.logo-container{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: 10px;
}
.iconos-container{
    display:flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 10px;
}
/*estilos barra de busqueda*/
.search-container{
    position: relative;
}
.btn{
    position: absolute;
    width: 44px;
    height: 50px;
    top:0;
    right: 0;
    text-align: center;
    color: #9E5CBF;
    cursor: pointer;
}
.btn i{
    vertical-align: middle;
    font-size: 28px;
    line-height: 50px;
}
.search-container input{
    padding: 0;
    border-color:#9E5CBF;
    border-width: 4px;
    width: 380px;
    height: 50px;
    padding-left:25px;
    border-radius: 25px;
    outline: none;
    box-sizing: border-box;
}
.search-container input::placeholder{
    color: #939393;
}
.nav-icon{
    font-size: 30px;
}
/*Estilos barra de busqueda secundaria*/
.header-2{
    width: 100vw;
    margin-top: 64px;
    box-shadow: 0px 10px 8px 0px rgba(0,0,0,0.1);
}
.flex-container{
    display: flex;
    flex-direction: row;
    position: relative;
    justify-content: center;
    max-width: 1366px;
    width: 100%;
    align-items: center;
    height: 48px;
    left: 50%;
    transform: translate(-50%);
    
    background-color: #fff;
}
.flex-container-item{
    display: flex;
    list-style-type: none;
    height: 44px;
    cursor: pointer;
    margin-left: 2em;
    margin-right: 2em;
    position: relative;
}
.flex-container-item::before{
    content:"";
    display: block;
    position: absolute;
    width:0;
    left: 50%;
    height: 4px;
    background: linear-gradient(to right, #2E0B40,#8B22BF);
    bottom: 0;
    transition: all .3s;
}
.flex-container-item:hover::before{
    left: 0;
    width: 100%;
}
.flex-container-link{
    text-decoration: none;
    color: #2E0B40;
    margin-top: 12.5px;
}
/*Estilos main*/
.main-container{
    width: 100vw;
    margin-top: 112px;
    justify-content: center;
    display: flex;
}
main{
    max-width: 1366px;
    width: 100%;
    z-index: 1;
}







/* Media queries*/
@media screen and (max-width:1000px) {
    .soporte-text{
        display: none;
    }
}