/*Estilos generales*/
*{
    box-sizing: border-box;
}
body{
    font-family: 'Lato',sans-serif;
}
footer{
    position: relative;
    bottom: 0;
    width: 100%;
}
header{
    background-color: #551574;
    height: 64px;
    width: 100vw;
    position: fixed;
    top: 0;
    z-index: 100;
    border-bottom:1px solid #2E0B40;
}

/*Estilos barra de navegación*/
.header-nav{
    background-color: #551574;
    height: 64px;
    max-width: 1366px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translate(-50%);
    border-left:1px solid #2E0B40;
    border-right:1px solid #2E0B40;
    border-bottom:1px solid #2E0B40;
    flex-direction: row;
}
.logo img{
    width: 260px;
    height: 45px;
}
.nav-menu-seccion1-link{
    text-decoration: none;
    color: white;
    font-size: 20px;
}
.nav-menu-seccion1{
    display: flex;
    align-items: center;
    gap: 20px;
    list-style-type: none;
   margin: 0;
   padding:0;
}
.nav-menu-seccion2-link{
    color: white;
    text-decoration: none;
    font-size: 20px;
}
.nav-menu-seccion2{
    display: flex;
    padding:0;
    margin: 0;
    list-style-type: none;
    gap: 15px;
    align-items: center;
}
.nav-menu-seccion2-item-supp{
    display:flex;
    gap: 5px;
    align-items: center;
}
.container1{
    display: flex;
    align-items: center;
    column-gap: 10px;
    width: 357px;
    justify-content: space-between;
    margin-left: 10px;
}
.container2{
    display:flex;
    align-items: center;
    justify-content: space-between;
    width: 934px;
    margin-right: 25px;
}
 .nav-menu-item-container{
    padding-top: 15px;
    padding-bottom:15px;
    cursor: pointer;
    position: relative;
}
.nav-menu-item-container::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    border-bottom: solid 3px red;
    opacity: 0;
}
.nav-menu-item-container:hover::after{
    opacity: 1;
    animation: myAnim 400ms ease 0s 1 normal forwards;
}

/*estilos barra de busqueda*/
.search-container{
    position: relative;
}
.btn{
    position: absolute;
    width: 44px;
    height: 50px;
    top:0;
    right: 0;
    text-align: center;
    color: #9E5CBF;
    border-radius: 25px;
    cursor: pointer;
}
.btn i{
    vertical-align: middle;
    font-size: 28px;
    line-height: 50px;
    transition: all .7s ease;
}
.search-container input{
    padding: 0;
    border-color:#9E5CBF;
    border-width: 2px;
    width: 0px;
    height: 50px;
    padding: 0 40px;
    border-radius: 25px;
    outline: none;
    box-sizing: border-box;
    transition: all .7s ease;
}
.search-container:hover input{
    width: 250px;
}
.search-container:hover i{
    transform: rotate(-360deg);
}
::placeholder{
    color: #939393;
}
.nav-icon{
    font-size: 30px;
}

/*Estilos main*/
.main-container{
    width: 100vw;
    margin-top: 64px;
    justify-content: center;
    display: flex;
}
main{
    max-width: 1366px;
    width: 100%;
    z-index: 1;
}



/*Keyframes*/
@keyframes myAnim {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}