/**** Estilos generales ****/
* {
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Lato', sans-serif;
  }
  
  footer {
    position: relative;
    bottom: 0;
    width: 100%;
  }
  
  header {
    position: fixed;
    top: 0;
    z-index: 100;
    height: 64px;
    width: 100%;
    background-color: #551574;
    border-bottom: 1px solid #2E0B40;
  }
  
  nav {
    display: flex;
    justify-content: center;
  }
  
  /**** Estilos barra de navegación ****/
  .header-nav {
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 64px;
    width: 100%;
    max-width: 1366px;
    background-color: #551574;
    z-index: 999;
  }
  
  /**** Icono menu hamburguesa ****/
  .menu-icon-container{
    display: relative;
    z-index: 999;
  }
  #checkbox {
    display: none;
  }
  
  .toggle {
    position: relative;
    width: 35px;
    min-width: 40px;
    cursor: pointer;
    margin-left:1rem;
    display: none;
    height: calc(4px * 3 + 11px * 2);
  }
  
  .bar {
    position: absolute;
    left: 0;
    right: 0;
    height: 4px;
    border-radius: calc(4px / 2);
    background: #fff;
    color: inherit;
    opacity: 1;
    transition: none 0.35s cubic-bezier(.5,-0.35,.35,1.5) 0s;
  }
  
  /***** Animación Icono*****/
  
  .bar--top {
    bottom: calc(50% + 11px + 4px/ 2);
    transition-property: bottom,transform;
    transition-delay: calc(0s + 0.35s),0s;
  }
  
  .bar--middle {
    top: calc(50% - 4px/ 2);
    transition-property: opacity;
    transition-delay: calc(0s + 0.35s);
  }
  
  .bar--bottom {
    top: calc(50% + 11px + 4px/ 2);
    transition-property: top,transform;
    transition-delay: calc(0s + 0.35s),0s;
  }
  
  #checkbox:checked + .toggle .bar--top {
    bottom: calc(50% - 4px/ 2);
    transform: rotate(135deg);
    transition-delay: 0s,calc(0s + 0.35s);
  }
  
  #checkbox:checked + .toggle .bar--middle {
    opacity: 0;
    transition-duration: 0s;
    transition-delay: calc(0s + 0.35s);
  }
  
  #checkbox:checked + .toggle .bar--bottom {
    top: calc(50% - 4px/ 2);
    transform: rotate(225deg);
    transition-delay: 0s,calc(0s + 0.35s);
  }
  
  .nav-menu-seccion2-link {
    color: #fff;
    font-size: 20px;
    text-decoration: none;
  }
  
  .nav-menu-seccion2 {
    display: flex;
    padding: 0;
    margin: 0;
    gap: 15px;
    align-items: center;
    list-style-type: none;
  }
  
  .nav-menu-seccion2-item-supp {
    display: flex;
    gap: 5px;
    align-items: center;
  }
  
  .logo-container {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: 10px;
  }
  
  .iconos-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 10px;
  }
  
  /**** Estilos barra de búsqueda ****/
  .search-container {
    position: relative;
    width: 100%;
  }
  
  .search-container-returnjs {
    width: 100%;
    max-width: 30rem;
    margin-left: 10px;
    margin-right: 10px;
  }
  
  .flex-container-searchbar {
    display: none;
    width: 350px;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }
  
  .btn {
    position: absolute;
    top: 0;
    right: 0;
    width: 44px;
    height: 50px;
    text-align: center;
    color: #9E5CBF;
    cursor: pointer;
  }
  
  .btn i {
    vertical-align: middle;
    font-size: 28px;
    line-height: 50px;
  }
  
  .search-container input {
    width: 100%;
    height: 50px;
    padding-left: 25px;
    padding-right: 35px;
    border-color: #9E5CBF;
    border-width: 4px;
    border-radius: 25px;
    outline: none;
    box-sizing: border-box;
  }
  
  .search-container input::placeholder {
    color: #939393;
  }
  
  .nav-icon {
    font-size: 30px;
  }
  
  /**** Estilos barra de navegación secundaria ****/
  .header-2 {
    position: relative;
    width: 100%;
    margin-top: 64px;
    box-shadow: 0px 10px 8px 0px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    height: 48px;
    background-color: #fff;
  }
  
  .flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 48px;
    width: 100%;
    max-width: 1366px;
    background-color: #fff;
  }
  
  .flex-container-item {
    display: flex;
    position: relative;
    list-style-type: none;
    height: 44px;
    cursor: pointer;
    margin-left: 2em;
    margin-right: 2em;
  }
  
  .flex-container-item::before {
    content: "";
    display: block;
    position: absolute;
    left: 50%;
    width: 0;
    height: 4px;
    bottom: 0;
    background: linear-gradient(to right, #2E0B40, #8B22BF);
    transition: all .3s;
  }
  
  .flex-container-item:hover::before {
    left: 0;
    width: 100%;
  }
  
  .flex-container-link {
    text-decoration: none;
    color: #2E0B40;
    margin-top: 12.5px;
  }
  
  /**** Estilos main ****/
  .main-container {
    justify-content: center;
    display: flex;
    width: 100%;
    margin-top: 112px;
  }
  
  main {
    max-width: 1366px;
    width: 100%;
    z-index: 1;
  }
  
  /**** Estilos footer ****/
  footer h1{
    margin: 0;
  }
  /**** Media queries ****/
  @media screen and (min-width: 768px) and (max-width: 1023px) {
    .soporte-text {
      display: none;
    }
  }
  
  @media screen and (max-width: 767px) {
    #mobile-toggle{
      display: block;
    }

    .search-container input {
      height: 40px;
      border-width: 3px;
    }

    .btn i{
      font-size: 25px;
      line-height: 40px;
    }

    .nav-menu-seccion2-item-supp {
      display: none;
    }
    
    .search-container-returnjs {
      display: none;
    }
    
    #svg-nav-1, #svg-nav-2, #user-item {
      display: none;
    }
    
    .toggle-btn {
      display: block;
    }
    
    .flex-container{
      position: absolute;
      flex-direction: column;
      background-color: #551574;
      height: 100vh;
      width: 75vw;
      left: 0;
      top: 0;
      box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .5);
      display: none;
    }
  
    .flex-container-searchbar {
      display: flex;
      align-items: center;
    }

    .flex-container-link{
      color: #fff;
    }
   

  }

  @media screen and (max-width:420px) {
    .flex-container{
      width: 100vw;
    }
  }
  